* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #0b0e27;
}
/* ! ================= HEADER START =================== */
.container {
  display: flex;
  justify-content: center;
}

header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 1700px;
  background: #100a2c;
  z-index: 2;
}
.nav {
  margin-top: 7px;
}

.logo {
  width: 190px;
  height: 55px;
}

.nav input {
  width: 290px;
  height: 15px;
  font: 16px/24px Arial, sans-serif;
  padding: 8px 20px 8px 44px;
  background-color: #192648;
  border-radius: 4px;
  border: none;
  margin-top: 5px;
  color: white;
}

::-webkit-input-placeholder {
  color: #d7d7d7;
  padding-left: 20px;
  font-size: 14px;
  letter-spacing: 0.5px;
}

.search__magnifier {
  position: absolute;
  background-size: 100%;
  height: 19px;
  width: 19px;
  top: 29.5px;
  border: none;
  background: no-repeat;
  margin-left: 11px;
}
.nav button {
  margin-left: 100px;
}
#newpost {
  color: white;
  font-size: 16px;
  width: 110px;
  height: 40px;
  background: linear-gradient(
    261.42deg,
    #405de6 10.31%,
    #833ab4 26.6%,
    #c13584 51.95%,
    #e1306c 79.55%,
    #fd1d1d 97.2%
  );
  border-radius: 10px;
  margin-top: 5px;
}
/* ? ================= HEADER END =================== */

/* ! ================= Section START =================== */
section {
  display: flex;
  justify-content: center;
}
.blockPots {
  display: flex;
  align-items: center;
}
.block_left {
  position: fixed;
  left: 0;
  top: 7%;
  width: 380px;
  height: 100%;
  display: flex;
  justify-content: center;
  background: #100a2c;
  z-index: 1;
}

#avatar img {
  margin-top: 80px;
  height: 200px;
  border-radius: 200px;
  border: 5px solid #bb0404;
}

.block_left p {
  position: absolute;
  margin-top: 310px;
  color: #ffffffb5;
  font-size: 17px;
  font-family: monospace;
  letter-spacing: 1px;
}

.block_left ul {
  margin-top: 451px;
}

.block_left ul li {
  width: 100px;
  height: 40px;
  border: 1px solid white;
}

h2 {
  color: white;
  font-size: 50px;
  font-family: system-ui;
  letter-spacing: 1px;
}
.post_all {
  position: absolute;
  top: 20%;
  left: 30%;
}

#insta_post {
  margin-left: 50px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.photo_post {
  width: 800px;
  height: 500px;
  border-radius: 0px 20px 0px 0px;
}
.icon {
  display: flex;
  justify-content: end;
  margin-bottom: 10px;
  border-radius: 0px 0px 0px 20px;
  background-color: rgb(101 101 101 / 45%);
}
.icon button {
  background: none;
  color: white;
  border: none;
  margin-right: 15px;
}
.icon img {
  width: 30px;
  margin: 5px;
}
/* ? ================= Section End =================== */
/*! <!-- ! ============ Modal New Post ============= --> */
#block_newPost {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 3;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(19, 19, 19, 0.598);
}
#block_newPost h3 {
  font-size: 50px;
  color: white;
  margin-bottom: 50px;
  font-family: system-ui;
}
#closePost {
  position: absolute;
  top: 0;
  right: 30px;
  display: flex;
  justify-content: end;
  width: 100%;
}
#closePost button {
  color: white;
  font-size: 16px;
  width: 110px;
  height: 40px;
  background: linear-gradient(
    261.42deg,
    #405de6 10.31%,
    #833ab4 26.6%,
    #c13584 51.95%,
    #e1306c 79.55%,
    #fd1d1d 97.2%
  );
  border-radius: 10px;
}
#block_newPost input {
  width: 290px;
  height: 15px;
  font: 16px/24px Arial, sans-serif;
  padding: 8px 20px 8px 44px;
  background-color: #192648;
  border-radius: 4px;
  border: none;
  margin-top: 5px;
  color: white;
}
#block_newPost button {
  color: white;
  font-size: 16px;
  width: 110px;
  height: 40px;
  background: linear-gradient(
    261.42deg,
    #405de6 10.31%,
    #833ab4 26.6%,
    #c13584 51.95%,
    #e1306c 79.55%,
    #fd1d1d 97.2%
  );
  border-radius: 10px;
  margin-top: 30px;
}
/*? <!-- ! ============ Modal New Post ============= --> */
/*! <!-- ! ============ Modal Start Post ============= --> */
.edit-block {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 3;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(19, 19, 19, 0.598);
}
.closeEdit {
  position: absolute;
  top: 30px;
  right: 30px;
  display: flex;
  justify-content: end;
  width: 100%;
}
.closeEdit button {
  color: white;
  font-size: 16px;
  width: 110px;
  height: 40px;
  background: linear-gradient(
    261.42deg,
    #405de6 10.31%,
    #833ab4 26.6%,
    #c13584 51.95%,
    #e1306c 79.55%,
    #fd1d1d 97.2%
  );
  border-radius: 10px;
}
.edit-block h3 {
  font-size: 50px;
  color: white;
  margin-bottom: 50px;
  font-family: system-ui;
}
.edit-block input {
  width: 290px;
  height: 15px;
  font: 16px/24px Arial, sans-serif;
  padding: 8px 20px 8px 44px;
  background-color: #192648;
  border-radius: 4px;
  border: none;
  margin-top: 5px;
  color: white;
}
.edit_btn-save {
  color: white;
  font-size: 16px;
  width: 110px;
  height: 40px;
  background: linear-gradient(
    261.42deg,
    #405de6 10.31%,
    #833ab4 26.6%,
    #c13584 51.95%,
    #e1306c 79.55%,
    #fd1d1d 97.2%
  );
  border-radius: 10px;
  margin-top: 30px;
}
/*? <!-- ! ============ Modal Edit Post ============= --> */
/*! <!-- ! ================ Pagination ================== --> */
.pagination {
  position: fixed;
  top: 50%;
  right: 0%;
  display: flex;
  flex-direction: column;
  width: 18.7%;
}

.pagination button {
  background: none;
  border: none;
}
#prev-btn img {
  width: 60px;
  transform: rotate(-90deg);
}
#next-btn img {
  width: 60px;
  transform: rotate(90deg);
}
/*? <!-- ! ================ Pagination ================== --> */
